
@{
    ViewBag.Title = "UpFeeChallan";
    Layout = "~/Views/Shared/_Student.cshtml";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Challan Form</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table">
                            <tr>
                               
                                <th>
                                    @Html.DisplayName("ScholarshipID")
                                </th>
                                <th>
                                    @Html.DisplayName("LookupID")
                                </th>
                                <th>
                                    @Html.DisplayName("NewFee")
                                </th>
                                <th>
                                    @Html.DisplayName("StudentID")
                                </th>




                                <th></th>
                            </tr>
                            @if (Session["FeeID"] != null)
                            {
                                <tr>
                                    <td>
                                        @Session["ScholarshipID"].ToString()
                                    </td>
                                    <td>  @Session["NewFee"] </td>
                                    <td>  @Session["LookupID"] </td>
                                    <td> @Session["StudentID"] </td>



                                </tr>

                            }
                        </table>

