
@{
    ViewBag.Title = "ShowRegisteredCourses";
    Layout = "~/Views/Shared/_Student.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">View Registered Courses</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayName("Semester")
                                </th>
                                <th>
                                    @Html.DisplayName("SectionID")
                                </th>
                                <th>
                                    @Html.DisplayName("CourseID")
                                </th>
                                <th>
                                    @Html.DisplayName("StudentID")
                                </th>
                                



                                <th></th>
                            </tr>
                            @if (Session["RegisteredCourseID"] != null)
                            {
                                <tr>
                                    <td>
                                        @Session["Semester"].ToString()
                                    </td>
                                    <td>  @Session["SectionID"] </td>
                                    <td>  @Session["CourseID"] </td>
                                    <td> @Session["StudentID"] </td>
                                     
                                   

                                </tr>

                            }
                        </table>


